.mainContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
}
.mainContainer .containerLeft{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.mainContainer .containerRight{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}