.mainContainer{
    height: auto;
    width: 100%;
    padding: 3rem 0;
}

.mainContainer .containerLeft{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: center; */
}
.mainContainer .containerRight{
    height: auto;
    display: flex;
    flex-direction: column;
   
}

@media screen and (max-width: 70rem){
    .mainContainer .containerLeft, .mainContainer .containerRight{
        align-items: center;
    }
}