.button1{
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin-right: .5rem;
    background: linear-gradient(to right, #9495ea, #6c6de4 );
    color: #fff;
    border: none;
    cursor: pointer;
}
.button2{
    border-radius: 1rem;
    padding: .5rem 1rem;
    background: #eaeafc;
    border: none;
    color: #8180dd;
    cursor: pointer;
}
.button1:active{
    border: inset .2px #7471d5;
    outline: none;
}
.button2:active, .arrowBack:active, .arrowForward:active{
    border: inset .3px #edeafc;
}
.button1:focus, .button2:focus, .arrowBack:focus, .arrowForward:focus, .confirm:focus, .cancel:focus{
    outline: none;
}
.arrowBack{
    background: url('../../images/back.png') #eaeafc;

}
.arrowForward{
    background: url('../../images/forward.png') #eaeafc;
}

.arrowButton{
    border-radius: 2rem;
    padding: 1rem ;
    margin-right: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    cursor: pointer;
}
.currentAppointments{
    width: 85%;
    min-width: 40%;
    background: #f5f6fb;
    border-radius: .3rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.currentAppointments .container{
    padding: 1rem 2rem;
}
.currentAppointments .container header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
}
.currentAppointments .container header h3{
    color: #1b1751;
}

.currentAppointments .container header .dots{
    font-size: 2rem;
    margin: 0;
    line-height: 1;
}
.currentAppointments .container .buttonContainer{
    display: flex;
    justify-content: space-between;
    padding: 0  0 2rem 0;
}

.currentAppointments .container .buttonContainer .sectionRight{
    display: flex;
    justify-content: center;
    align-items: center;
}
.currentAppointments .container .buttonContainer .sectionRight span{
    font-size: .9rem;
    padding-right: 1rem;
    color: gray;
    font-weight: bold;
}
.currentAppointments .container .buttonContainer .sectionRight span strong{
    color: #131313;
}
.currentAppointments .container .buttonContainer .sectionRight select{
    border: none;
}
.currentAppointments .container .cardsContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

