.calendar{
    height: auto;
    width: 30rem;
    background: #fcfcfe;
    margin-left: 15rem;
    border-radius: .3rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.calendar .calendarContainer{
    padding: 2rem 2rem;
}
.calendar .calendarContainer .calendarMonth{
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}
.calendar .calendarContainer .calendarMonth span{
    color: #19144d;
    font-weight: bold;
}
.calendar .calendarContainer .calendarMonth img{
    opacity: .3;
}
.calendar .calendarContainer .calendarDay{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 2rem 0;
}
.calendar .calendarContainer .calendarDay span{
    color: #6c6de1;
    font-weight: bold;
}

.calendar .calendarContainer .weekDay{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: space-around;
    grid-gap: 1rem;
}

.calendar .calendarContainer .weekDay span{
    font-weight: bold;
}
.calendar .calendarContainer .weekDay .previousMonth{
    color: #c7c7d2;
}
.calendar .calendarContainer .weekDay .endDay{
    color: #ef5670;
}