.alert{
    background: linear-gradient(to right, #9495ea, #6c6de4 );
    width: 65%;
    border-radius: .3rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin:1rem 0;
}
.alert .alertContainer{
    padding: .5rem 2rem;
}
.alert .alertContainer .alertHeader{
    display: flex;
    justify-content: space-between;
}
.alert .alertContainer .alertHeader h3{
    color: #fff;
}
.alert .alertContainer .alertHeader .dots{
    font-size: 2rem;
}
.alert .alertContainer  p{
    text-align: left;
    color: #d2d7f9;
    margin: 0;
}
.alert .alertContainer  ul{
    padding: 0 1rem;
}
.alert .alertContainer  ul li{
    padding: .3rem 0;
    text-align: left;
    color: #fff;
}

.alert .alertContainer  ul li span{
    color: #d2d7f9;
    margin: .5rem 1rem;
}

