.searchDoctor{
    width: 57rem;
    padding: 6rem 0;
    margin: 0 0 1rem;
    background: #fcfcfe;
    border-radius: .3rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}